- path: /etc/kubernetes/kubeconfig.yaml
  encoding: "gz+b64"
  content: |
    {{ lookup('file', '{{ config_base }}/{{ item.0.name }}/node.{{ item.1.name }}.kubeconfig.manifest' | expanduser) | gz | b64encode }}
