#cloud-config

---
{{ cloud_config[cluster.name][item.0.name] | to_nice_yaml(indent=2) }}

write_files:
{% for filedata in item.1.files %}
{% if item.0.name + '.write_files.' in filedata.path %}
  {{ lookup('file', filedata.path) | indent(2) }}
{% endif %}
{% endfor %}
coreos:
{% for filedata in item.1.files %}
{% if item.0.name + '.coreos.' in filedata.path %}
  {{ lookup('file', filedata.path) | indent(2) }}
{% endif %}
{% endfor %}
  units:
{% for filedata in item.1.files %}
{% if item.0.name + '.units.' in filedata.path %}
    {{ lookup('file', filedata.path) | indent(4) }}
{% endif %}
{% endfor %}
  update:
{% for filedata in item.1.files %}
{% if item.0.name + '.update.' in filedata.path %}
    {{ lookup('file', filedata.path) | indent(4) }}
{% endif %}
{% endfor %}
  locksmith:
{% for filedata in item.1.files %}
{% if item.0.name + '.locksmith.' in filedata.path %}
    {{ lookup('file', filedata.path) | indent(4) }}
{% endif %}
{% endfor %}
