- name: install-docker.service
  command: start
  content: |
    [Unit]
    Description=Install custom docker
    ConditionPathExists=!/opt/cnct/bin/dockerd
    [Service]
    Type=oneshot
    ExecStart=/bin/mkdir -p /opt/cnct/bin 
    ExecStart=/bin/bash -c '/usr/bin/wget {{item.nodepool.containerConfig.url}} -O - | tar -xz --strip-components=1 -C /opt/cnct/bin'
