- name: install-docker.service
  command: start
  content: |
    [Unit]
    Description=Install custom docker
    ConditionPathExists=!/opt/cnct/bin/dockerd
    [Service]
    Type=oneshot
    ExecStart=/bin/mkdir -p /opt/cnct/bin 
    ExecStart=/bin/bash -c '/usr/bin/wget https://s3-us-west-2.amazonaws.com/samsung-cnct-artifacts/docker-1.12.6%2B7ab89465.tgz -O - | tar -xz --strip-components=1 -C /opt/cnct/bin'
