write_files:
- path: /etc/systemd/system/kraken-networking.service
  content: |
    [Unit]
    Description=Setup Network Environment
    Requires=network-online.target
    After=network-online.target
    [Service]
    RemainAfterExit=yes
    Type=oneshot
    ExecStart=/opt/cnct/rkt/rkt run \
     --insecure-options=image \
     --net=host \
     --inherit-env=true \
     --volume etc,kind=host,source=/etc,readOnly=false \
     --mount volume=etc,target=/etc \
     quay.io/samsung_cnct/setup-network-environment:v1.0.1-mv
    ExecStopPost=/opt/cnct/rkt/rkt gc --mark-only
runcmd:
  - [ systemctl, enable, kraken-networking ]
  - [ systemctl, start, --no-block, kraken-networking ]
